<ion-header>

    <ion-navbar text-center>
      <ion-title>Speaker Details</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>




      <ion-item id="profileImage" no-lines>

   

      <ion-avatar *ngIf="xx.featuredImage" >
          <img  src="{{ xx.featuredImage.sourceUrl }}">
        </ion-avatar>

        <ion-avatar *ngIf="xx.featuredImage == null" >
            <img [src]="imgurl">
          </ion-avatar>
     </ion-item>

     <div text-center>
     
      <p padding text-center class="dataTitle">{{ xx.title }}</p>

    
      <p text-center>{{xx.speakerDetails.role}} - {{ xx.speakerDetails.company }}</p>

      <p text-center>{{ xx.speakerDetails.country }}</p>

    </div>


    <ion-label class="labels" >About (Bio) </ion-label>

    <div id="aboutInfoDiv" class="transparent" >

        <div [innerHTML]="theHtmlString"></div>
    
        <br>


    </div>



      <!-- <div >
         


          <ion-item *ngIf="xx.speakerDetails.linkedin || xx.speakerDetails.twitter || xx.speakerDetails.website"  class="labels" >
            <ion-label > Connect</ion-label>

        </ion-item>
        <div class="faces">
          <ion-avatar *ngIf="xx.speakerDetails.linkedin" >
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-avatar>
          <ion-avatar *ngIf="xx.speakerDetails.twitter" >
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-avatar>
          <ion-avatar *ngIf="xx.speakerDetails.website" >
            <ion-icon name="globe"></ion-icon>
          </ion-avatar>
        </div>
        </div> -->



   


  </ion-content>
