page-speaker-details {



  .faces>ion-avatar{
    float: left;
    margin-right: 7px;
}

  #profileImage {
    background-color: transparent;
  }



  #profileImage ion-avatar{
    background-color: transparent;
    width: 40%;
    margin-left: 35%;
  }

  #profileImage ion-avatar img{
    height: 100px;
    width: 100px;
  }




  .labels{
    background-color: transparent;
  }


  ion-label{
    color:#666;
  }
  .data{
   
    font-size: 100%;
    margin-bottom: -20px;
    margin-top: -20px
  }

    .dataTitle{
 
      font-size: 20px;
      margin-bottom: -20px;
      margin-top: -20px;
      font-weight: 500;
      color: #b33224;
    
      }
    #aboutInfoDiv p{ 
      border-radius:10px;
      font-weight: 200;
      font-size: 14px;
      line-height: 20px;
  }
   


ion-title{
  margin-right: 20%;
}
ion-content{
  background-color: #efefef !important;
}


}
