page-social {

  ion-col {

    &:first-of-type {

      flex: 0 0 40px;

    }
  }

  .timeline-Header {
  
    display: none !important;
}

.timeline-Footer {
  
  display: none !important;
}

.timeline-Body-notification {
  pointer-events: none !important;
  cursor: default !important;
}

}
