page-auth {

  ion-content{
    background-image: url('../assets/imgs/first.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
  ion-col {

    &:first-of-type {

      flex: 0 0 70px;

    }

  }

  .abcIcon{
    width: 80px;
  }
  .abcTextIcon{
    width: 50%;
    margin-bottom: 20px;
  }
.abcTextHeader{
  color: white;
  font-weight: 300;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

#socialDiv{
  position: absolute;
  bottom: 30%;
}


#emailLink{
  position: absolute;
  bottom: 18%;
  margin: auto;
  display: block;
  color: white;
  font-weight: 700;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}



  #signInBtn{
    background-color: #b33224;
    padding: 20px 60px 20px 60px;
  }

  #signUpLink{
    color: #b33224; 
    text-decoration: underline;
  }


  img.socialBtns{
    max-width:70%;

    margin-bottom: 5px;
  }

  .faces>button{
    float: left;
    margin-left: 7px;
}

}
