page-login2 {
    #signUpLink{
        color: #b33224; 
        text-decoration: underline;
        
      }

      .loginInputs{
        margin-top: -15px;
        border-bottom: 1px solid;
      }
}
