<ion-header>

  <ion-navbar text-center>
    <ion-title>Delegate Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item id="profileImage" no-lines>

       <ion-avatar>
        <img src="{{ xx.imageurl }}">
    </ion-avatar>
   </ion-item>

    <div text-center>
     
        <p padding class="dataTitle">{{ xx.fname }} {{ xx.lname }}</p>

      
        <p *ngIf="xx.role" xx.activityDetails.time>{{xx.role}}, {{ xx.company }}</p>

<br>
        <ion-chip (click)="requestCard(xx)">
          <ion-icon name="ios-apps"></ion-icon>
          <ion-label>Request Business Card</ion-label>
        </ion-chip>
      </div>

   
        <!-- <div text-center>
   
        <ion-item  *ngIf="xx.address" class="labels"  no-lines>
          <ion-label > Address</ion-label>

      </ion-item>
      <p padding class="data">{{ xx.address }}</p>

      <ion-item  *ngIf="xx.phone" class="labels"  no-lines>
        <ion-label > Phone</ion-label>

    </ion-item>
    <p padding class="data">{{ xx.phone }}</p>

        <br>
      </div> -->


 

    

  <p  padding class="data">
   
  </p>

  



    


 


</ion-content>
