page-delegate-details {

  #profileImage {
    background-color: transparent;
  }



  #profileImage ion-avatar{
    background-color: transparent;
    width: 40%;
    margin-left: 35%;
  }

  #profileImage ion-avatar img{
    height: 80px;
    width: 80px;
  }



  .labels{
    background-color: transparent;
  }


  .labels ion-label{
    color:#adaaaa;width:20%;font-size: 80%;
  }

  .data{
   
    font-size: 100%;width:75%;margin-bottom: -20px;margin-top: -20px
  }

  .dataTitle{
    width:75%;font-size: 110%;margin-bottom: -20px;margin-top: -20px;

  }

   


ion-title{
  margin-right: 20%;
}


}
