<ion-header>

  <ion-navbar text-center>
    <ion-title>Delegate Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item id="profileImage" no-lines>

       <ion-avatar>
        <img src="{{ xx.imageurl }}">
    </ion-avatar>
   </ion-item>

    <div text-center>
     
        <p padding class="dataTitle">{{ xx.fname }} {{ xx.lname }}</p>

      
        <p ><span *ngIf="xx.role"> {{xx.role}},</span> {{ xx.company }}</p>

<br>
<div *ngIf="requestPending!='approved'"  >
        <ion-chip (click)="requestCard(xx)">
          <ion-icon name="ios-apps"></ion-icon>
          <ion-label>Request Business Card</ion-label>
        </ion-chip>

      </div>
      </div>

   
        <div *ngIf="requestPending=='approved'">
          <ion-item  *ngIf="xx.email" class="labels"  no-lines>
            <ion-label > Email</ion-label>
  
        </ion-item>
        <p padding class="data">{{ xx.email }}</p>




        <ion-item  *ngIf="xx.email2" class="labels"  no-lines>
          <ion-label > Email - (Secondary)</ion-label>

      </ion-item>
      <p padding class="data">{{ xx.email2 }}</p>







        <ion-item  *ngIf="xx.address" class="labels"  no-lines>
          <ion-label > Address</ion-label>

      </ion-item>
      <p padding class="data">{{ xx.address }}</p>

      <ion-item  *ngIf="xx.phone" class="labels"  no-lines>
        <ion-label > Phone</ion-label>

    </ion-item>
    <p padding class="data">{{ xx.phone }}</p>


    <ion-item  *ngIf="xx.phone2" class="labels"  no-lines>
      <ion-label > Phone - (Other)</ion-label>

  </ion-item>
  <p padding class="data">{{ xx.phone2 }}</p>


 
 



        <br>
      </div>


 

    

  <p  padding class="data">
   
  </p>

  



    


 


</ion-content>
