page-agenda-details {
  ion-content{
    background-color: #efefef !important;
  }
  .list{
    border-bottom:1px solid #bdbdbd;
  }

    .even{
        background-color: #dddd;
      }
      .odd{

        background-color: #efefef;
      }


    #title{
        color:#b33224; 
        font-weight: 600;
      }
      #speakerTitle{
        color:#b33224; 
      }


      .faces>ion-avatar{
        float: left;
        margin-right: 7px;
    }

    .listItems{
      background-color: transparent;
    }
    
    .listItems div{
      padding:5px;
    }
    
    .listItems div p{
      color:#b33224; 
      font-weight: 600;
    }

    ion-icon{
      color:#b33224;
      font-weight: 400; 
    }

    ion-label{
      color:#666;
    }

    .cool{
      font-size: 18px;
    }
}
