
<ion-header>
  <ion-navbar>
    <ion-title>Programme Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <div>
    
    <h2 id="title"> {{xx.title}} </h2>
    <br>
    <ion-label>Time </ion-label>
    <p class="cool">
        <ion-icon name="time"></ion-icon>
        <span style="padding-left: 10px">  
          
       
          {{ cleanHTML(xx.activityDetails.time) }}
        </span>
     
    </p>
    <p class="cool" *ngFor="let ss of  generateArray(xx.days.nodes)">

      
      <ion-icon name="calendar"></ion-icon>
      <span style="padding-left: 10px">  {{ ss.name }}</span>
    
    </p>

 




    <p class="cool" *ngFor="let ss of  generateArray(xx.venues.nodes)">
     
        <ion-icon name="navigate"></ion-icon>
      <span style="padding-left: 10px">  {{ ss.name }}</span>
      </p>
      <br>



      <ion-label *ngIf="xx.activityDetails.activitySpeakers">Speakers </ion-label>
      <ion-item no-lines class="list" (click)="openItem(post,'SpeakerDetailsPage')" *ngFor="let post of xx.activityDetails.activitySpeakers; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'"  >
        <ion-avatar item-start>
          <img src="{{ post.featuredImage.sourceUrl }}">
        </ion-avatar>
        <h2 id="speakerTitle">{{ post.title }}</h2>



      <p>{{ post.speakerDetails.role }}, {{ post.speakerDetails.company }}</p>

      </ion-item>
      
  
 
    
  </div>
  
</ion-content>
