
<ion-header>
    <ion-navbar>
      <ion-title text-center>Business Cards</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-segment [(ngModel)]="abc" class="dateTabs" mode="ios">
    <ion-segment-button id="leftTab" value="a">
      APPROVED
    </ion-segment-button>
    <ion-segment-button id="midTab" value="b">
      RECEIVED
    </ion-segment-button>
    <ion-segment-button id="rightTab" value="c">
      PENDING
    </ion-segment-button>

  </ion-segment>

<ion-content padding>


  <div [ngSwitch]="abc">

      <div *ngSwitchCase="'a'">

          <div *ngIf="approved">
            <ion-item no-lines class="list"  *ngFor="let a of approved; let i = index;"  >
              <ion-avatar item-start>
                <img src="{{ a.imageurl }}">
              </ion-avatar>
        
              <h2>{{ a.fname }} {{ a.lname }}</h2>
        
        
              <div *ngIf="a.company">
              <p>{{ a.role }}</p>
              <p>{{ a.company }}</p>
              </div>
        
              <p padding class="data">
                <ion-chip>
                
                  <ion-label>View Card</ion-label>
                </ion-chip>
        
               
              </p>
        
            </ion-item>
        
        
            </div>
        
            <div *ngIf="!approved">
            <p text-center>You haven't approved any business card request yet</p>
          </div>
    
    
        </div>
    <div *ngSwitchCase="'b'">

      <div *ngIf="received">
        <ion-item no-lines class="list"  *ngFor="let a of received; let i = index;"  >
          <ion-avatar item-start>
            <img src="{{ a.imageurl }}">
          </ion-avatar>
    
          <h2>{{ a.fname }} {{ a.lname }}</h2>
    
    
          <div *ngIf="a.company">
          <p>{{ a.role }}</p>
          <p>{{ a.company }}</p>
          </div>
    
          <p padding class="data">
            <ion-chip (click)="approve(a)">
            
              <ion-label>Approve</ion-label>
            </ion-chip>
    
            <ion-chip (click)="decline(a)">
            
              <ion-label>Decline</ion-label>
            </ion-chip>
          </p>
    
        </ion-item>
    
    
        </div>
    
        <div *ngIf="!received">
        <p text-center>You haven't received business cards yet</p>
      </div>


    </div>


    <div *ngSwitchCase="'c'">

      <div *ngIf="pending">
        <ion-item no-lines class="list"  *ngFor="let a of pending; let i = index;"  >
          <ion-avatar item-start>
            <img src="{{ a.imageurl }}">
          </ion-avatar>
    
          <h2>{{ a.fname }} {{ a.lname }}</h2>
    
    
          <div *ngIf="a.company">
          <p>{{ a.role }}</p>
          <p>{{ a.company }}</p>
          </div>
    
          <p padding class="data">
            <ion-chip >
            
              <ion-label>Pending</ion-label>
            </ion-chip>
    
        
          </p>
    
        </ion-item>
    
    
        </div>
    
        <div *ngIf="!pending">
        <p text-center>You have not requested any business cards yet</p>
      </div>


    </div>


  </div>
  
</ion-content>
