
<ion-header>
    <ion-navbar>
      <ion-title text-center>Business Cards</ion-title>
    </ion-navbar>

  </ion-header>

  

<ion-content>
  <div *ngIf="received.length">
    <ion-item no-lines class="list" (click)="popModal(a)"  *ngFor="let a of received; let i = index;"  >
      <ion-avatar item-start>
        <img src="{{ a.imageurl }}">
      </ion-avatar>

      <h2>{{ a.fname }} {{ a.lname }}</h2>
      

      <div *ngIf="a.company">
      <p>{{ a.role }}</p>
      <p>{{ a.company }}</p>
      </div>

      

    </ion-item>

    


    </div>
    <div *ngIf="!received.length">
      <p text-center>Received business cards will appear here </p>
  
    </div>
  
</ion-content>
