

<ion-header>

    <ion-navbar text-center>
        <button  ion-button menuToggle start>
            <ion-icon style="color:white;" name="menu"></ion-icon>
          </button>

          <ion-title> Notifications</ion-title>
    </ion-navbar>

  </ion-header>







<ion-content>
  <div *ngIf="data">
    <ion-item no-lines class="list"  *ngFor="let a of data; let i = index;"  >

      <div *ngIf="a.type=='BCard'">
        <div (click)="openBusinessCardsPage()">
            <ion-avatar item-start>
              <img src="{{ a.imageurl }}">
            </ion-avatar>
            <h2>{{ a.title }}</h2>


        
            <p>{{ a.body }}</p>

            <p> {{ a.time }}</p>
          </div>
      </div>




      <div *ngIf="a.type!='BCard'">
         
        <h2>{{ a.title }}</h2>


     
        <p>{{ a.body }}</p>

        <p> {{ a.time }}</p>

        </div>


     
     




      </ion-item>
    </div>

      <div *ngIf="!data">

        <p text-center>No Notifications yet</p>

      </div>
</ion-content>
