page-signup {

  ion-title{
    font-size: 24px;
    font-weight: 600;
  }

  #uploadImage{
    background-color: transparent;
  }

  #uploadImage ion-avatar{
    background-color: transparent;
    width: 40%;
    margin-left: 35%;
  }

  #uploadImage ion-avatar img{
    height: 80px;
    width: 80px;
  }





}
